EXPO_PUBLIC_API_URL=https://extranet.askassurance.ma:5443/api
EXPO_PUBLIC_KEYCLOAK_URL=https://extranet.askassurance.ma:6080
EXPO_PUBLIC_KEYCLOAK_REALM=MyASK
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=client_mobile
