PORT=3000
NODE_ENV=production
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
DB_DATABASE=IBS_Extranet_Mobile
DB_SERVER=votre_serveur_sql
DB_PORT=1433
KEYCLOAK_REALM=ask_extranet_mobile
KEYCLOAK_AUTH_SERVER_URL=https://votre-keycloak.com
KEYCLOAK_CLIENT_ID=client_api
KEYCLOAK_CLIENT_SECRET=votre_secret_client_api_de_production
# Optionnel : Clé publique du Realm pour validation hors-ligne sans appel réseau JWKS (ex: MIIBIjANBgkqhki...)
KEYCLOAK_PUBLIC_KEY=
ALLOWED_ORIGINS=https://admin.votre-domaine.com,https://client.votre-domaine.com

